<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amlzq.android.architecture">

    <application>
        <activity android:name="com.amlzq.android.ui.MVPActivity" />
        <activity android:name=".app.MVPActivity" />
    </application>

</manifest>